{% extends 'products/product-base.html' %}

{% block title %}
    <title>Кръщенета</title>
{% endblock %}


{% block product_list %}
    {% for christeningset in christening_sets %}
        <div class="product-container">
            <div class="product-image-container">
                <img class="product-image" src="{{ christeningset.product_image }}">
            </div>
            <p class="product-info">Тип:
                {% if christeningset.type == 'female' %}
                    Женски продукт
                {% else %}
                    Мъжки продукт
                {% endif %}
            </p>
            <p class="product-info">Цена: {{ christeningset.price|floatformat:2 }} лв.</p>
            <p class="product-info">Наличност: {{ christeningset.quantity }}</p>
            <a class="details-button" href="{% url 'product details' product='christeningset' page='products' form_type=None comment_id=0 pk=christeningset.pk %}">Детайли</a>
            {% if user.id == christeningset.owner_id or user.is_superuser %}
                <a class="edit-button" href="{% url 'product update' product='christeningset' pk=christeningset.pk %}">Редактиране</a>
                <a class="delete-button"
                   onclick="askForDeletion('christeningset', {{ christeningset.pk }})">Изтриване</a>
            {% endif %}
            {% include 'partials/add-to-cart-partial.html' %}
        </div>
    {% endfor %}
{% endblock %}