{% extends 'base.html' %}
{% load static %}

{% block page_styles_and_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product-styles/product-styles.css' %}">
    {% if products_per_row == '4' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/product-styles/four-products-view.css' %}">
    {% endif %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'scripts/products/alertDeleteProduct.js' %}" defer></script>
    <script src="{% static 'scripts/products/alertProductOutOfStock.js' %}" defer></script>
{% endblock %}

{% block main_content %}
    {% if object_list %}

        {% include 'partials/filter-products-partial.html' %}
        {% include 'partials/view-products-partial.html' %}
        <div class="separator"></div>

        {% block product_list %}
        {% endblock %}
    {% else %}
        <p class="no-available-products">Няма налични продукти!</p>
    {% endif %}

{% endblock %}
